@use '@/styles/mixins' as *;

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: var(--header__height) var(--container__padding-horizontal) 0;

  &:before {
    content: url('@/utils/corner.svg');
    width: min(40%, 35rem);
    position: absolute;
    top: 0;
    right: 0;
  }

  .wrapper {
    position: relative;
    height: 100%;
    max-width: var(--container__max-width);
    margin: 0 auto;

    @include breakpoint('md') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    &:after {
      content: url('@/utils/lines.svg');
      width: min(80%, 35rem);
      position: absolute;
      top: 50%;
      right: 45%;

      @include breakpoint('lg') {
        left: -5%;
        width: min(80%, 50rem);
        top: 60%;
      }
    }
  }

  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    top: 5%;
    z-index: 1;
    line-height: 100%;
    max-width: 50rem;

    @include breakpoint('md') {
      position: relative;
      flex: 0 0 40%;
      top: -15%;
    }

    > i {
      font-weight: 500;
    }

    > span {
      font-family: var(--serif-font);
      font-size: 95%;
      font-style: italic;
    }
  }

  .image {
    $image-size: min(37.5rem, 80vh);

    width: $image-size;
    height: $image-size;
    background-image: url('@/assets/bathroom1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25%, -50%);

    @include breakpoint('md') {
      $image-size: min(70rem, 75vh);

      position: relative;
      top: 0; // -10%;
      flex: 0 0 auto;
      transform: translate(-5%, 0px);
      width: $image-size;
      height: $image-size;
    }

    @include breakpoint('lg') {
      $image-size: min(58rem, 80vh);

      transform: none;
      width: $image-size;
      height: 0;
      padding-bottom: $image-size;
      top: 0;
    }
  }
}
