@use 'mixins' as *;
:root {
  --color-taupe-100: #cec7bd;
  --color-taupe-300: #beb6af;
  --color-taupe-500: #a1988f;
  --color-taupe-800: #7b7369;

  --color-sage-100: #b6c7aa;
  --color-sage-300: #9db08e;
  --color-sage-500: #8e9a7d;
  --color-sage-800: #5c6a4f;

  --container__padding-horizontal: 1.6rem;
  --container__max-width: 144rem;

  --h1__font-size: 4rem;
  --h2__font-size: 3.2rem;
  --h3__font-size: 2.4rem;
  --h4__font-size: 2rem;
  --h5__font-size: 1.8rem;
  --h6__font-size: 1.6rem;

  --sans-serif-font: 'Fira Sans Condensed', sans-serif;
  --serif-font: 'Libre Baskerville', serif;

  @include breakpoint('lg') {
    --container__padding-horizontal: 8rem;

    --h1__font-size: 6rem;
    --h2__font-size: 4.8rem;
    --h3__font-size: 3.6rem;
    --h4__font-size: 3rem;
    --h5__font-size: 2.4rem;
    --h6__font-size: 2rem;
  }
}
