.container {
  border: none;
  background: none;
  font-size: 2rem;
  padding: 1.6rem;
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
  margin-right: -1.6rem;

  &:hover {
    color: #b6c7aa;
  }
}

.icon {
  &--top,
  &--bottom,
  &--middle {
    display: block;
    width: 2.4rem;
    height: 2px;
    background-color: currentColor;
    margin: 0.4rem auto;
    transition:
      transform 0.3s,
      width 0.3s,
      background-color 0.3s;
  }

  .active & {
    .icon {
      &--top {
        transform: rotate(45deg) translate(0.4rem, 0.4rem);
      }
      &--bottom {
        transform: rotate(-45deg) translate(0.4rem, -0.4rem);
      }
      &--middle {
        width: 0;
      }
    }
  }
}
