@use '@/styles/mixins' as *;

:root {
  --header__padding-vertical: 1.6rem;
  --header-logo__size: 8rem;
  & {
    --header__height: calc(var(--header__padding-vertical) * 2 + var(--header-logo__size));
  }

  @include breakpoint('lg') {
    --header-logo__size: 10rem;
  }
}

.container {
  background-color: transparent;
  width: 100%;
  position: fixed;
  padding: var(--header__padding-vertical) var(--container__padding-horizontal);
  top: 0px;
  z-index: 10;
  box-shadow: none;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    top 0.3s;

  &--scrolled {
    background: var(--color-primary);
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.5);
  }
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint('lg') {
    justify-content: space-between;
    max-width: var(--container__max-width);
    align-items: center;
  }
}
.logo {
  width: var(--header-logo__size);
  height: var(--header-logo__size);
  flex: 0 0 auto;
  cursor: pointer;
}
