@use '@/styles/mixins' as *;

.container {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: auto;
  padding-bottom: 3.2rem;
  background-color: #a1988f;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  transform: translateY(-100%);
  padding-top: var(--header__height);
  z-index: -1;
  transition: transform 0.3s;

  @include breakpoint('lg') {
    flex-direction: row;
    align-items: center;
    position: static;
    height: auto;
    flex: 0 0;
    padding: 0;
    transform: translateY(0%);
    z-index: 0;
    background-color: transparent;
    gap: 3.2rem;
  }

  &.menu--open {
    transform: translateY(0%);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: center;

  @include breakpoint('lg') {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -1.6rem;
  }

  li {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: 1.6rem;
    line-height: 2.4rem;
    transition: color 0.2s;
    white-space: nowrap;
    cursor: pointer;

    @include breakpoint('lg') {
      padding: 0.8rem 1.6rem;
    }

    &:hover {
      color: #b6c7aa;
    }
  }
}
